<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <location path="WebPages">
    <system.web>
      <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <authorization>
        <deny users="Guest" />
      </authorization>
    </system.web>
  </location>
  <connectionStrings>
    <add name="Egras" connectionString="Data Source=172.22.32.112;Initial Catalog=egrasnew; User ID=sa; Password=123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5"/>
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="A609EBCFC81D5E7D1A3E2A958ACAF6C270D5D65BE8EACA525F340733FAC7496659E4702381F01AFCAD7DD541D3016D779408C0B2B456623AD0ED3D33BF461E5D" decryptionKey="85D3A2F122A55FC4D4C9AE396B884EB2588CF2586DB0760422DAB63EBB61A8EE" validation="SHA1" decryption="AES" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>-->
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="Microsoft.ReportViewer.ProcessingObjectModel, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WinForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows">
      <forms loginUrl="Home.aspx" timeout="60" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.-->
    <customErrors mode="Off" defaultRedirect="CustomErrPage.aspx">
      <error statusCode="403" redirect="CustomErrPage.aspx" />
      <error statusCode="404" redirect="CustomErrPage.aspx" />
    </customErrors>
    <pages theme="theme1" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add namespace="EgBL" assembly="EgBL" tagPrefix="asp" />
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <httpRuntime executionTimeout="9999" maxRequestLength="2097151" sendCacheControlHeader="false" requestPathInvalidCharacters="" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <location allowOverride="true">
    <appSettings>
      <add key="tokenURL" value="http://localhost:56933/eservice/EgTokenService.svc/GetToken" />
      <add key="SNADeptURL" value="http://localhost:56933/eservice/EgSNADeptData.svc/PushSnaData" />
      <add key="SNABankURL" value="http://localhost:56933/eservice/EgSNABankDataPush.svc/PushSnaData" />
      <add key="SMSservice.egtrgservice" value="https://egras.raj.nic.in/eservice/egtrgservice.asmx" />
      <!--<add key="BOBM" value="http://103.85.40.22:7773/cmsforwarderUAT"/>-->
      <add key="BOBM" value="https://apiuat.bankofbaroda.co.in:4443/cmsforwarderUAT" />
      <!--<add key="NEFTRTGS" value="https://1.6.198.15:9015/CUPWeb/services/ServiceEngine/TranService" />-->
      <!--<add key="NEFTRTGS" value="https://1.6.198.15:22/CUPWeb/services/ServiceEngine/TranService" />-->
      <add key="NEFTRTGS" value="http://1.6.198.15:9015/CUPWeb/services/ServiceEngine/TranService" />
      <add key="NEFTCertPath" value="D:\cert\kamal preet kaur.pfx" />
      <add key="NEFTqqCertPath" value="D:\cert\base_64.cer.txt" />
      <add key="NEFTPullCertPath" value="D:\cert\CBS_INTEGRATION.cer" />
      <add key="Securekey" value="E:\Egras Applications\Key\" />
      <add key="Document" value="E:\EgrasDocument\" />
      <add key="BankEncDecKey" value="Egras" />
      <add key="SecurePassword" value="fb27835342494cf51db087182b75c3fd" />
      <add key="PayUURL" value="https://tsdsandbox.payu.in/egrass/Form/payment" />
      <add key="PayuVerifyURL" value="https://securepayments.payu.in/EgrassVerifyApi" />
      <add key="PayUKey" value="Wrub49" />
      <add key="PayuSalt" value="jrtxfyQx" />
      <add key="AppKey" value="XYZ123*" />
      <add key="SMSMessageFormat" value="Thanks for using eGRAS. Your transaction for" />
      <add key="Departmentkey" value="7061737323313233" />
      <add key="CB" value="0350316" />
      <add key="Epay" value="1000132" />
      <!--<add key="SuccessURL" value="http://164.100.153.105/Egras105/WebPages/BankResponseReceived.aspx"/>-->
      <add key="SuccessURL" value="http://localhost:56933/WebPages/BankResponseReceived.aspx" />
      <add key="FailURL" value="http://164.100.153.105/Egras105/WebPages/BankResponseAbort.aspx" />
      <add key="OBC" value="0361193" />
      <add key="BOB" value="0200113" />
      <add key="PageTitle" value="eGRAS.raj.nic.in" />
      <add key="SBBJ" value="0171051" />
      <add key="SBI" value="0006326" />
      <add key="UnionBank" value="0292861" />
      <add key="PNB" value="0304017" />
      <add key="HDFC" value="0001234" />
      <add key="IDBI" value="6910213" />
      <add key="Timespan" value="80" />
      <add key="OldLastGRN" value="0" />
      <add key="URL" value="http://localhost:56933/WebPages/BankForward.aspx" />
      <add key="MerchantURL" value="http://localhost:56933/SampleMerchantpreLogin2.aspx" />
      <add key="MerchantURL1" value="http://localhost:56933/Egraslatest/SampleMerchantpreLogin2.aspx" />
      <!--<add key="MerchantURL" value="http://164.100.153.105/Egras105/SampleMerchantpreLogin2.aspx"/>
      <add key="MerchantURL1" value="http://164.100.153.105/Egras105/SampleMerchantpreLogin2.aspx"/>-->
      <add key="CBI" value="0280429" />
      <add key="SMSservice.egtrgservice" value="https://egras.raj.nic.in/Eservice/egtrgservice.asmx" />
      <add key="SBIWebServ.DoubleVerifyMerchantService" value="https://merchant.onlinesbi.sbi/thirdparties/services/DoubleVerifyMerchantService.DoubleVerifyMerchantService" />
      <add key="UBIWebServ.StateTaxService" value="https://www.unionbankonline.co.in/RJGovtWS/StateTaxService.asmx" />
      <add key="PNBWebServ.verify" value="https://gateway.pnbibanking.in/RAJVATVERIFY/verify.asmx" />
      <add key="IDBIWebServ.inquiryservice" value="https://inetapps.idbibank.co.in/RajInquiry/services/inquiryservice" />
      <!--<add key="IDBIWebServ.inquiryservice" value="https://etax.idbibank.co.in/RajInquiry/services/inquiryservice?wsdl"/>-->
      <!--<add key="IDBIWebServ.inquiryservice" value="https://etax.idbibank.co.in/RajInquiry/services/inquiryservice"/>-->
      <!--<add key="IDBIWebServ.inquiryservice" value="http://febacorp.idbibank.com/RajInquiry/services/inquiryservice"/>-->
      <!--<add key="IDBIWebServ.inquiryservice" value="https://inetapps.idbibank.co.in/RajInquiry/services/inquiryservice"/>-->
      <add key="CTDWebServ.validateTin" value="http://www.rajtax.gov.in:7777/vatweb/services/validateTin" />
      <add key="CTDSelfServ.ctdwebservice" value="https://egras.raj.nic.in/ctd/ctdwebservice.asmx" />
      <add key="CBIWebServ.graswebservice" value="https://www.centralbank.net.in/graswebservice?wsdl" />
      <add key="TreasuryServ.WebService1" value="http://rajkosh.raj.nic.in/Services/WebService1.asmx" />
      <add key="TrgWebServ_ADDPD.EgAddNewPDAccountno" value="http://rajkosh.raj.nic.in/Services/EgAddNewPDAccountno.asmx" />
      <add key="OBCWebServ.service1" value="https://www.obconline.co.in/rajasthanverifywebservice/service1.asmx" />
      <add key="SBIManualServ.RAJASTHANWS" value="https://223.31.62.65:8443/EGRAS/services/RAJASTHANWS" />
      <add key="DOITserv.EgrasResponseWS" value="http://rajonline.rajasthan.gov.in/EMitraEgrasWS/EgrasResponseWS" />
      <add key="CanaraWebServ.VerifyTxn" value="https://canepaycustoms.canarabank.in/RajasthaneGRASVerify/VerifyTxn.asmx" />
      <add key="BOBWebServ.GetRajGrasPmtStatusSoap" value="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx" />
      <!--<add key="BOBWebServ.GetRajGrasPmtStatusSoap" value="https://feba.bobibanking.com/corp/TechProcessVerify/GetRajGrasPmtStatusSoap.asmx"/>-->
      <!--<add key="CanaraWebServ.VerifyTxn" value="https://epayment.canarabank.in/RajGRASVerifyService/VerifyTxn.asmx"/>-->
      <add key="PNBManualWebServ.ReceiveData" value="https://mypnb.in/egrasrj/ReceiveData.asmx" />
      <add key="PNBManualWebServVerify.VerifyOfflineTransaction" value="https://mypnb.in/egrasrj/VerifyOfflineTransaction.asmx" />
      <add key="IntegrationRedirectURL" value="http://localhost:56933/WebPages/EgIntergrationRedirect.aspx" />
      <add key="Union_Bank_Service.StateTaxService" value="https://59.163.35.39/RajasthanGras/services/ServiceSoap" />
      <add key="CBIManualServVerify.graswebservice" value="https://paymentsystems.centralbankofindia.co.in/DoubleVerification" />
      <add key="CBI_Push.EGRASS" value="http://103.105.72.43:8080/Egrass" />
     
      <add key="SBIOnlineWebServ.DoubleVerifyMerchantService" value="http://merchant.onlinesbi.sbi/thirdparties/services/DoubleVerifyMerchantService.DoubleVerifyMerchantServiceHttpSoap11Endpoint/" />
      
      
      
      <add key="IntegrationURL" value="https://csc.ecourts.gov.in/epay/push_response/push_response_rj.php" />
      <add key="Certificate" value="kamal preet kaur.pfx" />
      <add key="CertificatePassword" value="123" />
      <add key="ServiceDown" value="This Bank  Challan  Verify Serice Is  Currently Down" />
      <!--for SSRS Report Server Connection-->
      <!--<add key="UName" value="administrator" />
      <add key="PWD" value="Sig#ma#12o" />
      <add key="DOM" value="." />
      <add key="ReportPath" value="/Egras_sesctest/" />
      <add key="ReportServerUrl" value="http://10.130.0.105/ReportServer" />-->
      <add key="UName" value="administrator" />
      <add key="PWD" value="123" />
      <add key="DOM" value="10.130.34.152" />
      <add key="ReportServerUrl" value="http://10.130.34.152/ReportServer" />
      <add key="ReportPath" value="/Egras1/" />
      <add key="GRNPDF.eggrnpdfservice" value="http://10.130.34.152/Egras105/Eservice/eggrnpdfservice.asmx" />
      <add key="IPAddressHTTP" value="REMOTE_ADDR" /> 
      <!--end-->
    </appSettings>
    <system.web>
      <roleManager enabled="true" />
    </system.web>
  </location>
  <location path="Reports">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000" />
        <verbs>
          <add verb="TRACE" allowed="false" />
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" />
    </staticContent>
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="eGRAS_app">
          <match serverVariable="RESPONSE_SERVER" pattern="-+" />
          <action type="Rewrite" />
        </rule>
        <rule name="Remove Server header">
          <match serverVariable="RESPONSE_Server" pattern=".+" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
      <rules>
        <rule name="egras_redirect" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="http://164.100.153.105/" appendQueryString="false" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-UA-Compatible" value="IE=Edge" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Powered-By" />
        <remove name="Server" />
        <!--<add name="Content-Security-Policy" value="default-src 'self';  report-uri: http://localhost:56933/Default.aspx ; child-src 'none'; object-src 'none'" />-->
      </customHeaders>
    </httpProtocol>
    <httpErrors errorMode="Custom">
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="401" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="403" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="404" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="405" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="406" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="412" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="501" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
      <error statusCode="502" prefixLanguageFilePath="" path="/EgError.html" responseMode="ExecuteURL" />
    </httpErrors>
    <httpRedirect enabled="false" destination="http://164.100.153.105/" childOnly="true" httpResponseStatus="Found" />
    <handlers>
      <add name="Reserved.ReportViewerWebControl.axd" path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
    <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" /><remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" /><remove name="ExtensionlessUrlHandler-Integrated-4.0" /><add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" /><add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" /><add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" /></handlers>
  </system.webServer>
  <system.serviceModel>
    <client>
      <endpoint address="https://gbss.sbi.co.in:8443/GBSS_Service/STGTV2/Receipt/serSTGTV2Receipt_INB.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IserSTGTV2Receipt_INB" contract="SBIManualChallanServ.IserSTGTV2Receipt_INB" name="WSHttpBinding_IserSTGTV2Receipt_INB" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType="EgBL.AuthorizationHeaderClass, EgBL" />
        </behavior>
        <behavior name="LoginServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="DefaceServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EgGrnVerifyServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="BankHealthCheckerBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EgAuthTokenAPIBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EgTransStatusUpdateBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EgSNADataPullBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EgSNABankDataPushBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="EgSNADeptDataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="TempServiceForBankUploadInfoBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
       <behavior name="SSPIntegrationBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      

 <behavior name="AutoBankStatusServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      
    
 <behavior name="CPINPULLREQServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="EgrasAndroidAppService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="webHttpBinding" contract="IEgrasAndroidAppService" behaviorConfiguration="web" />
      </service>
      <service name="EgrasAppLoginService" behaviorConfiguration="LoginServiceBehavior">
        <endpoint binding="webHttpBinding" contract="IEgrasAppLoginService" behaviorConfiguration="web" />
      </service>
      <service name="EgDefaceChallanService" behaviorConfiguration="DefaceServiceBehavior">
        <endpoint binding="webHttpBinding" contract="IEgDefaceChallanService" behaviorConfiguration="web" />
      </service>
      <service name="EgGrnVerifyService" behaviorConfiguration="EgGrnVerifyServiceBehavior">
        <endpoint binding="webHttpBinding" contract="IEgGrnVerifyService" behaviorConfiguration="web" />
      </service>
      <service name="EgBankHealthChecker" behaviorConfiguration="BankHealthCheckerBehavior">
        <endpoint binding="webHttpBinding" contract="IEgBankHealthChecker" behaviorConfiguration="web" />
      </service>
      <service name="EgAuthTokenAPI" behaviorConfiguration="EgAuthTokenAPIBehavior">
        <endpoint binding="webHttpBinding" contract="IEgAuthTokenAPI" behaviorConfiguration="web" />
      </service>
      <service name="EgTransStatusUpdate" behaviorConfiguration="EgTransStatusUpdateBehavior">
        <endpoint binding="webHttpBinding" contract="IEgTransStatusUpdate" behaviorConfiguration="web" />
      </service>
      <service name="EgSNADeptData" behaviorConfiguration="EgSNADeptDataBehavior">
        <endpoint binding="webHttpBinding" contract="IEgSNADeptData" behaviorConfiguration="web" />
      </service>
      <service name="EgSNABankDataPush" behaviorConfiguration="EgSNABankDataPushBehavior">
        <endpoint binding="webHttpBinding" contract="IEgSNABankDataPush" behaviorConfiguration="web" />
      </service>
      <service name="EgSNADataPull" behaviorConfiguration="EgSNADataPullBehavior">
        <endpoint binding="webHttpBinding" contract="IEgSNADataPull" behaviorConfiguration="web" />
      </service>
      <service name="TempServiceForBankUploadInfo" behaviorConfiguration="TempServiceForBankUploadInfoBehavior">
        <endpoint binding="webHttpBinding" contract="ITempServiceForBankUploadInfo" behaviorConfiguration="web" />
      </service>
     <service name="SSPIntegration" behaviorConfiguration="SSPIntegrationBehavior">
        <endpoint binding="webHttpBinding" contract="ISSPIntegration" behaviorConfiguration="web" />
      </service>
     <service name="AutoBankStatusService" behaviorConfiguration="AutoBankStatusServiceBehavior">
        <endpoint binding="webHttpBinding" contract="IAutoBankStatusService" behaviorConfiguration="web" />
      </service>
      
     <service name="CPINPULLREQService" behaviorConfiguration="CPINPULLREQServiceBehavior">
        <endpoint binding="webHttpBinding" contract="ICPINPULLREQService" behaviorConfiguration="web" />
      </service>


    </services>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="inquiryserviceSoapBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="inquiryserviceSoapBinding1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IserSTGTV2Receipt_INB">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding>
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
</configuration>